@model RegisterModel
@{

}

@*<header>
        <div class="logo"><img src="" alt="" /></div>
    </header>*@

<div class="row">
    <div class="">
        @*<h1>Registrar - @Model.UserName</h1>*@
        <form asp-action="Register" method="post">
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                </div>
            </div>
            <input asp-route="" type="submit" class="">
        </form>
    </div>
</div>

@*@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@